.contestDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photoDrawer {
  flex-grow: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-items: stretch;
  padding: 0.5rem;
  overflow-y: scroll;
}
.photoDrawerDiv {
  padding: 8px;
  width: 50%;
  max-height: 50%;
  display: flex;
  place-items: center;
  text-align: center;
}

.photoDrawerImg {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 10px 9px;
}