.contest-submission img.gold {
  box-shadow: rgba(255, 215, 0, 0.6) 2px 10px 9px;
}

.contest-submission img.silver {
  box-shadow: rgba(175, 175, 175, 0.6) 2px 10px 9px;
}

.contest-submission img.bronze {
  box-shadow: rgba(205, 127, 50, 0.6) 2px 10px 9px;
}
