.contest-vote-panel {
    padding: 1rem;
    border-radius: 8px;
}

.contest-vote-panel .trophy:not(.selected) {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    .contest-vote-panel {
        background: #333;
    }
}
@media (prefers-color-scheme: light) {
    .contest-vote-panel {
        background: #ddd;
    }
}